.searchContainer {
  width: 30vw;
  padding: 0px 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
}

.searchContainer form {
  display: flex;
  align-items: center;
}

.searchContainer form input {
  width: 100%;
  border: none;
  padding: 12px
}

.searchContainer form input:focus {
  outline: 0;
}

.searchContainer form input::placeholder {
  color: #aaa;
  opacity: 1;
}

.searchContainer form input:-ms-input-placeholder {
  color: #aaa
}

.searchContainer form input::-ms-input-placeholder {
  color: #aaa
}